*{
    margin: 0px;
    padding:0px;
}
html{
    scroll-behavior: smooth;
}
#top{
    position: fixed;
    right: 30px;
    bottom: 30px;
}
.hr1{
    /* border: 3px;
    border-style: solid;
    border-color: rgb(250, 149, 188); */
    border: 3px solid rgb(250, 149, 188)
}
.hr2{
    border: 3px solid rgb(191, 138, 252)
}
.hr3{
    border: 3px solid rgb(138, 252, 227)
}
.hr4{
    border: 3px solid rgb(252, 138, 138)
}
.hr5{
    border: 3px solid rgb(29, 81, 223)
}
.hr5{
    border: 3px solid rgb(29, 223, 110)
}
.hr6{
    border: 3px solid rgb(188, 223, 29)
}
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* navigation bar */
#navbar{
    display: flex;
    background-color: black;
    color:azure;
    align-items: center;
    text-align: center;
    position: sticky;
    top: 0px;
}
#logo{
    width: 20%;
    align-items: center;
}
#logoimage{
    margin:5px;
    padding:2px;
    height:80px;
    border-radius: 100px;
    align-items: center;
}
#links{
    width: 60%;
    text-align: center;
}
#navlinks{
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    
}
#navlinks li{
    padding: 40px;
}
#navlinks a{
    color:aliceblue;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}
#navlinks a:hover{
    color: rgb(85, 56, 12);
    background-color: blanchedalmond;
    transition: 1s;
}
#search{
    width: 20%;
    align-items: center;
    text-align: center;
}
#searchbox{
    width: 110px;
    height:20px;
    border-radius: 20px;
    background-color: antiquewhite;
    padding: 5px;
}
/* navigation bar ends here  */
/* welcome section  */
#welcome{
    display: flex;
    height: 900px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
/* about us section  */
#aboutus{
    height:400px;
    text-align: center;
    padding: 15px;
    background-image: url(vegetable.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}
#services
{
    display: flex;
    justify-content: space-evenly;
    height:900px;  
}
.border1{

    border-width: 3px;
    border-style: groove;
    border-color: black;
    border-radius: 5px;
    height: 300px;
    width: 30%;
    padding: 15px;
    margin: 15px;
}
#servicefood{
    background-color: rgb(161, 3, 3);
}
#servicecatering{
    background-color: rgb(218, 38, 38);
}
#servicebulk{
    background-color: rgb(255, 157, 157);
}
.serviceimg{
   height: 200px;
   width: 400px;
   border-radius: 20px;
   margin: 10px;
    border-width: 2px;
    border-style: groove;
    align-content: center;
    border-color: black;
}
.font1{
    font-size: 20px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.font2{
    font-size: 40px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
/* clients section  */
#clients{
    height:400px;
}
/* contact us section  */
#contactus{
    height:900px;
    background-image: url(vegetable.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
    
}
#contactbox{
    width: 40%;
    margin: auto;
}
#contactbox input{
    width: 100%;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: blanchedalmond;
    font-size: 18px;
}
#contactbox label{
    margin: 5px;
    color: beige;
}
/* Social Media Section starts*/
#Social{
    height:900px;
}